@keyframes rise_up{
    from{
        bottom: -5rem
    }
    to{
        bottom: 1rem
    }
}

.status{
    animation: rise_up .5s ease
}
.spin{
    animation: loading infinite .5s linear
}

@keyframes loading {
    to{
        transform: rotate(360deg);
    }
}